* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* header start from here */

.header {
    width: 100%;
    float: left;
    background: url(../img/index-home_banner.jpg)no-repeat center;
    background-size: cover;
    background-size: 100%;
    background-position: center;
    padding: 0 0 220px 0;
}

.container1 {
    width: 1420px;
    margin: 0 auto;
}

.logo {
    width: 20%;
    float: left;
}

.logo img {
    width: 37%;
}

.navigation {
    width: 60%;
    float: left;
    margin-top: 20px;
    z-index: 1;
    position: relative;
}

.navigation ul {
    padding: 0;
    margin: 0;
}

.navigation ul li {
    float: left;
    list-style: none;
    margin: 0px 20px 0 20px;
    position: relative;
}


.navigation ul li a {
    text-decoration: none;
    color: black;
    display: block;
}

.navigation ul li ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    width: 100%;
    display: none;
    left: 0;
    background-color: white;
    min-width: 267px;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
}

.navigation ul li ul li {
    width: 85%;
    float: left;
    padding: 5px 10px;
    display: block;
    border-top: 1px solid #e3e3e3;
    cursor: pointer;
    margin: 0 10px 10px 10px;
}


.navigation ul li ul li a {
    display: block;
    font-size: 16px;
}

.navigation ul li ul li a:hover {
    color: blue;
}

.navigation ul li:hover ul {
    display: block;
    background: white;
    color: black;
}

.navigation ul li ul:hover {
    display: block;
}


.navigation ul li a:hover {
    display: block;
}


.navigation-right {
    width: 20%;
    float: left;
    margin-top: 26px;
}

.navigation-right ul {
    padding: 0;
    margin: 0;
}

.navigation-right ul li {
    list-style: none;
    width: 50%;
    float: left;
}

.navigation-right ul li a {
    text-decoration: none;
    font-size: 15px;
}

.navigation-right ul li:first-child a {
    color: black;
    font-size: 13px;
}

.navigation-right ul li:last-child a {
    color: white;
    background-color: blue;
    padding: 15px 10px;
    border-radius: 16px;
    box-shadow: 0px 9px 2px -4px #000d88;
    font-size: 12px;
}

.navigation-right ul li:last-child a:hover {
    background-color: #6d8fe6;
    cursor: pointer;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.navigation-content {
    width: 100%;
    float: left;
    margin-top: 67px;
}

.navigation-content ul {
    padding: 0;
    margin: 0;
}

.navigation-content ul li {
    width: 100%;
    float: left;
    list-style: none;
    position: relative;
}


.navigation-content ul li h1 {
    font-size: 80px;
    font-weight: 800;
    line-height: 1;
    color: #0047ff;
}

.navigation-content ul li h5 {
    font-size: 15px;
}

.navigation-content ul li p {
    font-size: 18px;
    margin-bottom: 20px;
}


.half-circle {
    width: 50px;
    transition: 0.8s ease-in-out;
}

.navigation-content .half-circle:hover {
    transform: rotate(1turn);
}


.navigation-content ul li span {
    position: absolute;
    top: 335px;
}

.water-drop {
    position: absolute;
    top: 156px;
    left: 560px;
    width: 8%;
}

/* header end from here */


/* about start from here */

.about {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 3%;

}

.about .about-left {
    width: 50%;
    float: left;
    position: relative;
}

.about .about-left img {
    width: 100%;
    position: absolute;
    top: -73px;
    z-index: -1;
    right: 247px;

}

.about .about-right {
    width: 53%;
    float: right;
    margin-top: 164px;
}

.about .about-right ul {
    padding: 0;
    margin: 0;
}

.about .about-right ul li {
    list-style: none;
    width: 100%;
    float: left;
    position: relative;
}

.about .about-right ul li h2 {
    font-size: 70px;
    font-weight: 900;
    line-height: 1;
}

.about .about-right ul li h5 {
    color: blue;
}

.about .about-right ul li p {
    margin-top: 10px;
}


.about .about-right ul li img {
    margin-top: 20px;
    width: 50px;
    transition: 0.8s ease-in-out;

}

.about .about-right ul li img:hover {
    transform: rotate(1turn);
}

.about .about-right ul li span {
    position: absolute;
    top: 480px;
}

/* about end from here */


/* ace benefit start from here */

.ace-benefit {
    width: 100%;
    float: left;
    background: url(../img/benefits-section-banner.png)no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 570px;
}

.ace-benefit .ace-benefit-right {
    margin-top: 90px;
    width: 25%;
    float: left;
}

.ace-benefit .ace-benefit-right h3 {
    color: white;
    font-size: 37px;
}

.ace-benefit .ace-benefit-left {
    margin-top: 90px;
    width: 72%;
    float: right;
    border-left: 1px solid white;
}

.ace-be .ace-benefit-left ul {
    nefit margin: 0;
    padding: 0;
}

.ace-benefit .ace-benefit-left ul li {
    list-style: none;
    width: 22%;
    float: left;
    min-height: 138px;
    margin: 22px 10px;
}

.ace-benefit .ace-benefit-left ul li p {
    color: white;
    margin-top: 10px;
}

.ace-benefit .ace-benefit-left ul li img:hover {
    scale: 110%;
    cursor: pointer;
    transition: 0.5s ease;
}

/* Ace benefit end from here */


/* Our services start from here */

.container4 {
    width: 1280px;
    margin: 0 auto;
}

.our-services {
    width: 100%;
    float: left;
    margin-bottom: 4%;
}


.our-services .our-services-first {
    width: 100%;
    float: left;
}

.our-services .our-services-first h5 {
    text-align: center;
    color: blue;
    margin-bottom: 10px;
    margin-top: 30px;
}

.our-services .our-services-first h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 52px;
    font-weight: 800;
}

.our-services .our-services-first p {
    text-align: center;
    padding: 0 336px;
    margin-bottom: 3%;
}

.our-services .our-services-second {
    width: 100%;
    float: left;
}

.our-services .our-services-second ul {
    margin: 0;
    padding: 0;
}

.our-services .our-services-second ul li {
    display: table-cell;
    text-align: center;
    overflow: hidden;
    max-width: 400px;
    border: none;
    border: 1px solid #0047ff;
    border-radius: 0 91px 15px 15px;
    min-height: 526px;
    background: #e3f2ff;
    width: 31%;
    margin: 30px 10px;
    float: left;
}

.our-services .our-services-second ul li a {
    background-color: blue;
    padding: 15px 25px;
    border-radius: 0px 16px 16px 16px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    z-index: 3;
    position: relative;

}

.our-services .our-services-second ul li p {
    padding: 37px 0;
}

.our-services .our-services-second ul li img {
    transition: 0.4s;
}

.our-services .our-services-second ul li img:hover {
    scale: 1.05;
}

.our-services .our-services-second ul li a:hover {
    background-color: rgb(22, 22, 43);
    cursor: pointer;
}

/* .our-services .our-services-second td img:hover{
    width: 110%;
    cursor: pointer;
} */

/* Our services end from here */



/* maintainence section start from here  */

.maintainence {
    width: 100%;
    float: left;
    background-color: #f2f2f2;
    padding: 50px 0;
}

.maintainence .maintainence-first {
    width: 100%;
    float: left;
}

.maintainence .maintainence-first h3 {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

.maintainence .maintainence-first h5 {
    text-align: center;
    color: blue;
}

.maintainence .maintainence-first p {
    text-align: center;
    margin-bottom: 3%;
}

.maintainence-circle {
    width: 25%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
}



.circle {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}

.circle-text {
    padding: 0 80px;
    text-align: center;
}

.circle-text p {
    font-size: 14px;
    font-weight: 800;
    margin-top: 12px;
}


/* Maintainence section end from here */

/* Enquire start from here */

.enquire {
    background: url(../img/enq-banner.jpg)no-repeat;
    width: 100%;
    height: 400px;
    background-size: cover;
    float: left;
}


.enquire .enquire-content {
    width: 100%;
    float: left;
}

.enquire .enquire-content ul li h3 {
    text-align: center;
    font-size: 35px;
    color: white;
    margin-top: 160px;
    margin-bottom: 20px;
}

.enquire .enquire-content ul li {
    text-align: center;
    list-style: none;
}

.enquire .enquire-content ul li a {
    text-decoration: none;
    padding: 13px 40px;
    background-color: white;
    color: blue;
    border-radius: 22px;
    box-shadow: 0px 9px 2px -4px #000d88;
}

.enquire .enquire-content ul li a:hover {
    color: white;
    background-color: blue;
}

/* Equire end from here */

/* Our latest post start from here*/

.latest-post {
    width: 100%;
    float: left;
    background: url(../img/projects-banner.jpg)no-repeat;
    padding: 100px 0;
    background-size: cover;
}

.latest-post .latest-post-left {
    width: 30%;
    float: left;
}

.latest-post .latest-post-left h3 {
    color: white;
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 700;
}

.latest-post .latest-post-left h5 {
    color: white;
    margin-bottom: 10px;
}

.latest-post .latest-post-left p {
    color: white;
    font-size: 14px;

}


.latest-post .latest-post-right {
    width: 70%;
    float: left;
}


.latest-post .latest-post-right ul {
    margin: 0;
    padding: 0;
}

.latest-post .latest-post-right ul li {
    float: left;
    width: 30%;
    list-style: none;
    margin: 10px;
    background-color: white;
    min-height: 485px;
}

.latest-post .latest-post-right ul li img {
    width: 100%;
}

.latest-post .latest-post-right ul li p {
    color: black;
    padding: 18px;
    font-size: 14px;
}

/* Our latest post end from here */

/* Our client start from here */

.our-client {
    width: 100%;
    float: left;
    margin: 50px 0;
}

.our-client ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-client ul li {
    list-style: none;
    padding: 0 24px;
}

.our-client .client-border {
    border-right: 1px solid black;
}

/* Our latest end from here */


/* client say start from here */

.client-say {
    width: 100%;
    float: left;
    background-color: #f9f9f9;
    padding: 70px 0;
    position: relative;
}

.client-say::after {
    content: "";
    background: url(../img/left-arrow-blue.png);
    position: absolute;
    width: 30px;
    height: 30px;
    top: 221px;
    border: 1px solid blue;
    text-align: center;
    left: 176px;
}

.client-say::before {
    content: "";
    background: url(../img/right-arrow-blue.png);
    position: absolute;
    width: 30px;
    height: 30px;
    top: 221px;
    border: 1px solid blue;
    text-align: center;
    right: 176px;
}

.client-say h1 {
    text-align: center;
    font-size: 40px;
    color: blue;
    margin-bottom: 100px;
}

.client-say ul {
    margin: 0;
    padding: 0;
}

.client-say ul li {
    list-style: none;
    text-align: center;
}



/* client say end from here */

/* sign uo start from here */

.sign-up {
    width: 100%;
    float: left;
    padding: 50px 0;
}

.sign-up ul {
    margin: 0;
    padding: 0;
}


.sign-up ul li {
    text-align: center;
    float: left;
    width: 100%;
    list-style: none;
}

.sign-up ul li h5 {
    color: blue;
}

.sign-up ul li h2 {
    font-size: 45px;
    font-weight: 800;
}

.sign-up ul li input {
    margin: 10px;
}

.sign-up ul li input[type=text] {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: #f1f1f1;
    border-radius: 15px;
    padding: 20px 30px;
}


.sign-up ul li input[type=email] {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: #f1f1f1;
    border-radius: 15px;
    padding: 20px 211px 20px 30px
}


.sign-up ul li input[type=submit] {
    background: #0047ff;
    color: #fff;
    padding: 13px 52px;
    border: 1px solid #00227a;
    height: 62px;
    border-radius: 16px;
}

.sign-up ul li input[type=submit]:hover {
    background-color: white;
    color: black;
    border: 1px solid blue;
}

/* Sign up end from here */

/* footer start from here */
.footer {
    background: url(../img/footer-bg.jpg)no-repeat;
    width: 100%;
    float: left;
    background-size: cover;
    padding: 200px 0 10px 0;
}

.footer .footer-left {
    width: 30%;
    float: left;
}

.footer .footer-left ul {
    margin: 0;
    padding: 0;
}

.footer .footer-left ul li {
    list-style: none;
    float: left;
    float: right;
    width: 83%;
}

.line {
    height: 3px;
    width: 25px;
    background-color: white;
    margin-bottom: 12px;
}

.footer .footer-left ul li img {
    margin-bottom: 20px;
}

.footer .footer-left .footer-img {
    margin-left: 30px;
}

.footer .footer-left ul li p {
    color: white;
    margin-bottom: 5px;
}

.footer .footer-right {
    width: 70%;
    float: right;
}

.footer .footer-right ul {
    margin: 0;
}

.footer .footer-right ul li {
    list-style: none;
    width: 25%;
    float: left;
}

.footer .footer-right ul li h3 {
    color: white;
    margin-bottom: 12px;
}

.footer .footer-right ul li p {
    color: white;
    margin-bottom: 10px;
}

.copy-right {
    width: 100%;
    float: left;
    text-align: center;
}

.copy-right p {
    color: white;
    font-size: 10px;
}

/* responsive for phone  */

@media only screen and (min-width:320px) and (max-width: 480px) {

    .container1 {
        display: none;
    }

    .header {
        float: left;
        background: url(../img/index-home_banner.jpg)no-repeat center;
        background-size: cover;
        padding: 0 0 220px 0;
        width:auto ;
    }


    .container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .about {
        width: 100vw;
        float: left;
    }

    .about .about-left {
        width: 100%;
    }

    .about .about-left img {
        width: 54%;
        position: relative;
        top: 0;
        left: 0;
    }

    .about .about-right {
        width: 100vw;
    }

    .about .about-right ul li h2 {
        font-size: 36px;
    }


    .ace-benefit {
        width: 578px;
    }

    .ace-benefit .ace-benefit-right {
        margin-top: 90px;
        width: 100vw;
        float: left;
    }


    .ace-benefit .ace-benefit-left {
        margin-top: 90px;
        width: 100vw;
    }


}